*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:-apple-system;
}

body{
  background:#000;
  color:white;
}

/* TOP */
.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px;
  border-bottom:1px solid #222;
}

.logo{
  font-weight:bold;
  font-size:18px;
}

/* ICONS */
.icon{
  width:24px;
  height:24px;
  fill:white;
  cursor:pointer;
  opacity:0.9;
}

/* COMPOSER */
.composer{
  padding:10px;
  display:flex;
  flex-direction:column;
  gap:6px;
}

input{
  padding:10px;
  border-radius:10px;
  border:none;
  background:#111;
  color:white;
}

button{
  padding:10px;
  border:none;
  border-radius:10px;
  background:#3897f0;
  color:white;
}

/* FEED */
.post{
  padding:10px;
  border-bottom:1px solid #222;
}

/* POST HEADER */
.post-header{
  display:flex;
  align-items:center;
  gap:10px;
}

/* IMAGE */
.post-img{
  width:100%;
  height:320px;
  background:#111;
  margin-top:10px;
  border-radius:10px;
}

/* NAV */
.nav{
  position:fixed;
  bottom:0;
  width:100%;
  display:flex;
  justify-content:space-around;
  padding:12px 0;
  border-top:1px solid #222;
  background:#000;
}

.plus{
  transform:scale(1.2);
}
.hidden{display:none;}
